*, html, body{
    color: #363636;
}

.container{
    align-items: center;
    justify-content: center;
}

.content{
    margin-top: 10%;
}

.card{
    border: solid;
    border-color: #5a5a5a;
    border-radius: 7px;
    transition: border-color 0.75s ease-in-out;
}

.card:hover{
    border-color: #283593;   
}

.card-image{
    border-radius: 3px;
}